<main>
  <mat-toolbar color = "primary">

    <ng-container *ngIf = "alumnData.disabled">
      <button mat-raised-button color = "accent" (click) = "allowEditAlumnData()">
        <mat-icon> edit </mat-icon>
      </button>
    </ng-container>


    <ng-container *ngIf = "alumnData.enabled && !newUser">
      <button mat-raised-button color = "accent" (click) = "disableEditAlumnData()">
        <mat-icon> clear </mat-icon>
      </button>
    </ng-container>

    <div class = "title-text">
      <ng-container *ngIf = "newUser; else modifyingAlumn">
        <span > Creando Alumno </span>
      </ng-container>

      <ng-template #modifyingAlumn>
        <span > Modificando Alumno </span>
      </ng-template>
    </div>


    <span class = "divider"></span>

    <button mat-raised-button color = "accent" (click) = "toggleSideNav()">
      <mat-icon> menu </mat-icon>
    </button>
  </mat-toolbar>

  <form [formGroup] = "alumnData">
    <mat-card>
      <div class = "grid-container">
        <mat-form-field appearance =  "outline">
          <mat-label> Nombre </mat-label>
          <input matInput  placeholder = "Nombre" formControlName = "name">
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Primer apellido </mat-label>
          <input matInput  placeholder = "Primer apellido" formControlName = "middleName">
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> DNI </mat-label>
          <input matInput  placeholder = "DNI" formControlName = "id">
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Segundo apellido</mat-label>
          <input matInput  placeholder = "Segundo apellido" formControlName = "lastName">
          <mat-hint> Opcional </mat-hint>
        </mat-form-field>
      </div>


      <div>
        <mat-divider></mat-divider>
      </div>

      <div class = "grid-container" id = "grid-container2">
        <mat-form-field appearance = "outline">
          <mat-label> Teléfono</mat-label>
          <input matInput  placeholder = "Teléfono" formControlName = "phone">
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Otro teléfono</mat-label>
          <input matInput  placeholder = "Otro teléfono" formControlName = "anotherPhone">
          <mat-hint>Opcional</mat-hint>
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Email</mat-label>
          <input matInput  placeholder = "Email" formControlName = "email">
        </mat-form-field>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div class = "grid-container" id = "grid-container2">
        <mat-form-field appearance = "outline">
          <mat-label> País</mat-label>
          <!-- <input matInput  placeholder = "País" formControlName = "country"> -->
          <mat-select formControlName = "country" (ngModelChange) = "resetValidatorsByCountrySelected($event); resetProvince()">
            <mat-option *ngFor = "let country of countries" [value] = "country.name"> {{ country.name }} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Provincia </mat-label>

          <ng-container *ngIf = "alumnData.get('country')?.value !== 'Spain'; else displayProvinceList">
            <input matInput  placeholder = "Provincia" formControlName = "province">
          </ng-container>

          <ng-template #displayProvinceList>
            <mat-select formControlName = "province">
              <mat-option *ngFor = "let province of provinces" [value] = "province.name"> {{ province.name }}</mat-option>
            </mat-select>
          </ng-template>
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Código Postal</mat-label>
          <input matInput  placeholder = "Código Postal" formControlName = "postalCode">
        </mat-form-field>

        <mat-form-field appearance = "outline">
          <mat-label> Localidad</mat-label>
          <input matInput  placeholder = "Localidad" formControlName = "location">
        </mat-form-field>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <div class = "grid-container" id = "grid-container2">
        <mat-form-field appearance = "outline">
          <mat-label> Nombre de usuario </mat-label>
          <input matInput  placeholder = "Nombre de usuario" formControlName = "userName">
        </mat-form-field>

        <div>
          <mat-form-field appearance = "outline">
            <mat-label> Contraseña </mat-label>

            <input matInput (ngModelChange) = "calculateStrongness(); triggerConfirmPasswordValidation()" [type] = "hidePassword ? 'password' : 'text'" formControlName = "password">

            <button mat-icon-button [disabled] = "!alumnData.get('password')?.enabled" matSuffix (click) = "hidePassword = !hidePassword">
              <mat-icon> {{ hidePassword ? 'visibility_off' : 'visibility'}} </mat-icon>
            </button>

            <mat-hint>
              <mat-error *ngIf = "showLess8Notification && alumnData.get('password')?.enabled && alumnData.get('password')?.dirty"> Valor introducido inferior a 8 puntos </mat-error>
            </mat-hint>

          </mat-form-field>

          <br><br><app-strength-bar [strenght] = "strenght" (puntuationLess8) = "puntuationLess8Notification($event)"></app-strength-bar>


          <mat-form-field appearance = "outline">
            <mat-label> Confirma la contraseña </mat-label>

            <input matInput [type] = "hidePasswordConfirm ? 'password' : 'text'" formControlName = "passwordConfirm">

            <button mat-icon-button [disabled] = "!alumnData.get('password')?.enabled" matSuffix (click) = "hidePasswordConfirm = !hidePasswordConfirm">
              <mat-icon> {{ hidePasswordConfirm ? 'visibility_off' : 'visibility'}} </mat-icon>
            </button>

            <mat-error *ngIf = "!alumnData.get('confirmPassword')?.hasError('isValidPassword')"> Las contraseñas no son iguales </mat-error>

          </mat-form-field>

          <mat-hint [hidden] = "submitButtonMode === 'Crear'? true: false">
            <mat-checkbox formControlName = "checkboxPassword" (change) = "toggleAccessEditPassword($event)">
              Permitir modificar contraseña
            </mat-checkbox>
          </mat-hint>


        </div>
      </div>

      <div class = "submit-button">
        <ng-container>
            <div>
              <button mat-raised-button color = "accent" [disabled]  = "!alumnData.valid" (click) = "saveAlumn()"> {{ submitButtonMode }} </button>
            </div>

            <mat-error *ngIf = "!alumnData.valid && !alumnData.untouched && alumnData.enabled"> Por favor introduce todos los campos obligatorios </mat-error>

        </ng-container>
      </div>
    </mat-card>
  </form>
</main>


