.main{

  .divider{
    flex: 1 1 auto;
  }

  mat-card{
    background-color: #d800730c;

    .grid-container{

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      margin-bottom: 20px;
    }

    #grid-container2{
      margin-top: 60px;
    }

    .submit-button{
      text-align: right;
    }
  }
}
