
<main>

  <mat-toolbar color = "primary">

    <button mat-raised-button color="accent" (click) = "closeNavBar()">
      <mat-icon> clear </mat-icon>
    </button>

    <span class = "divider"></span>

    <div>
      <span> Listado de alumnos </span>
    </div>

    <span class = "divider"></span>

    <button mat-raised-button color="accent" (click) = "createNewUser()">
      <mat-icon> add </mat-icon>
    </button>



  </mat-toolbar>

  <mat-radio-group>
    <mat-radio-button value = 'name' [checked] = "checkNameFilter" (change) = "checkAndFilter($event.value,filterAlumn.value)"> Filtrar por Nombre y Apellidos </mat-radio-button>
    <mat-radio-button value = 'id'  (change) = "checkAndFilter($event.value,filterAlumn.value)"> Filtrar por DNI </mat-radio-button>
    <mat-radio-button value = 'email' (change) = "checkAndFilter($event.value,filterAlumn.value)"> Filtrar por email </mat-radio-button>
  </mat-radio-group>

  <div>
    <mat-form-field class = "filter" appearance =  "outline">
      <mat-label> Filtrar </mat-label>
      <input matInput placeholder = "Filtro" [formControl] = "filterAlumn" (ngModelChange) = "filter(filterAlumn.value)">
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <div>
      <ng-container *ngFor = "let card of cardArray">
          <app-alumn-card (userEdit) = "loadExistingUser($event)" [name] = card.name></app-alumn-card>
      </ng-container>
  </div>
</main>
