

main{

  mat-card{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 60%;
  }

  .divider{
    display: flex;
    flex: 1 1 auto;
  }
}
