<main>

  <mat-card>
    <div class = "text-message">

    <p> ¿Estás seguro de introducir una contraseña </p>
    <p> con una puntuación inferior a 8?</p>

    </div>


    <div class = "buttons">

      <div class = "accept-button">

        <button mat-raised-button color = "primary" (click) = "closeDialogAccepting()">
          <mat-icon> check </mat-icon>
        </button>

      </div>

      <span class = "divider"></span>

      <div class = "cancel-button">

        <button mat-raised-button color = "accent" (click) = "closeDialogCanceling()">
          <mat-icon> close </mat-icon>
        </button>

      </div>
    </div>
  </mat-card>

</main>
